@model ImagenZapatillas

<div class="card">
    <div class="card-body">
        <div class="card-title">
            Imagen @ViewData["POSICION"] de @ViewData["ULTIMO"]
        </div>
        <button class="btn btn-info" onclick="loadImagen(1)">
            PRIMERO
        </button>
        <button class="btn btn-info" onclick="loadImagen(@ViewData["ANTERIOR"])">
            ANTERIOR
        </button>
        <button class="btn btn-info" onclick="loadImagen(@ViewData["SIGUIENTE"])">
            SIGUIENTE
        </button>
        <button class="btn btn-info" onclick="loadImagen(@ViewData["ULTIMO"])">
            ULTIMO
        </button>
        <div>
            <img src="@Model.Imagen" style="width:150px;height:150px" />
        </div>
    </div>
</div>
